* {
  scroll-behavior: smooth;
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* -- NAVEGADOR -- */

nav {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #343eff;
}

nav img {
  max-width: 110px;
  position: fixed;
  top: 45px;
  left: 100px;

  cursor: pointer;

  transition: .3s all ease-out;
}

nav img:hover {
  transform: scale(1.15);
}

nav ul {
  list-style: none;

  /* align-items: center; */
  
  gap: 50px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  
  transition: .3s all ease;
}

nav ul li a:hover {
  text-decoration: none;
  color: #fff;
}

nav ul li {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

nav ul li a:hover {
  opacity: 1;
}

nav ul li a::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #fff;
}

nav ul li a::before {
  width: 0%;
  bottom: 10px;
}

nav ul li a:hover::before {
  width: 100%;
}

/* -- HEADER TEXT -- */

.header-title {
  text-align: left;
  margin-top: 60px;
}


/* -- SONG CARD -- */

.song-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.song-card {
  display: flex;
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(30, 30, 30);

  transition: .3s all ease;
}

.song-card:hover {
  /* border-color: #646cff; */
  box-shadow: 0px 8px 0px #343eff;
}

.video-container {
  cursor: pointer;
}

.song-details {
  /* text-align: left; */
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: initial;
}


/* -- CURRENTLY PLAYING -- */

.currently-playing-container {
  margin: 0;
  padding: 0;

  position: fixed;
  bottom: 30px;
  left: 30px;
  z-index: 10;

  /* border-radius: 2px solid #000; */
}

.currently-playing-container h3 {
  margin: 0;
  padding: 0;
  position: absolute;

  top: 25px;
  left: 30px;

  z-index: 60;
}

.currently-playing-container h4 {
  margin: 0;
  padding: 0;
  position: absolute;

  top: 60px;
  left: 30px;

  z-index: 60;
}

 .playing {
  margin: 0;
  padding: 0;

  position: absolute;
  bottom: 20px;
  left: 25px;

  max-width: 35px;
  z-index: 60;
  filter: drop-shadow(7px 7px 0px #171717aa);
}

.currently-playing-container .mini-thumbnail {
  margin: 0;
  border-radius: 8px;
  width: 450px;
  max-height: 150px;
  display: block;
  object-fit: cover;
  object-position: center;
}

.mini-thumbnail {
  filter: blur(2px);
}

.currently-playing {
  padding: 0;
  border-radius: 8px;
  background-color: rgb(30, 30, 30);
  ;
}


/* -- BARRA DE BÚSQUEDA -- */

.search-bar {
  width: 100%;
  margin-bottom: 30px;

  padding: 10px;
  border-radius: 50px;
  border: #343eff 2px solid;

  justify-content: center;
  align-items: center;

  text-align: center;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;

  transition: .3s all ease;
}

.search-bar:hover {
  border: yellow 2px solid;
}


/* -- AÑADIR -- */

.btnAdd {
  margin-bottom: 30px;
}

.inactive {
  display: none;
}